@import "bootstrap";

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

#petition-wrapper {
  padding-top: 15px;
}

.loader {
  display: none;
}

footer {
  margin-top: 15px;
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#petitionNumber {
  min-width: 250px;
}

.subfooter {
  font-size: 80%;
  margin-top: -10px;
}

a[onclick='goBack()'] {
  display: none;
}

a[onclick*="popup"], a[href*="aspx"] {
  pointer-events: none;
  cursor: default;
  color: black;
}

#extra h2:first-child {
  display:none;
}
